// _carousel.scss
//
// SMARTPHONE PORTRAIT
// height: 248px
// img: 235x132
//
// TABLET PORTRAIT
// height: 284px
// img: 235x132
//

// z-index levels
$l1:       10;
$l2:       20;

$tap-size: 52px;

$red:      #CB0000;
$grey:     #767676;

.carousel {
	background-color: #FFF;
	position: relative;
}
	// Blinkers
	.carousel__blinker {
		position: absolute;
			top: 42px;
		z-index: $l1;
	}
	.carousel__blinker--left {
		left: 0;
	}
	.carousel__blinker--right {
		right: 0; bottom: 0;
		width: $tap-size;
	}

	// Controls
	.carousel__controls {
		@extend .nav;

		margin-bottom: 0;
		position: absolute;
			top: 64px; right: 16px;
			@include at(tablet) {
				top: 60px;
			}
		width: $tap-size * 2;
		z-index: $l2;

		li {}
		a {
			background: rgba(255,255,255,0.8) url('../img/chevron-sprite.png') 15px 12px no-repeat;
			display: block;
			height: $tap-size;
			width: $tap-size;

			&:hover {
				background-color: rgba(255,255,255,0.95);
			}
			&:active {
				background-color: rgba(255,255,255,1);
			}
		}
	}
	.carousel__left {

		a {
			background-position: 13px -75px;

			&:hover {

			}
		}
	}
	.carousel__right {

		a {
			border-left: 1px solid #999;
		}
	}
	
	// Title
	.carousel__title {
		line-height: 1;
		margin: 0;
		padding-left: 16px;
	}
	
	// Viewport
	.carousel__viewport {
		overflow: hidden;
	}

	// Items
	.carousel__items {
		@extend .nav;
		
		margin-bottom: 0;
		width: 2000px;

		> li {
			border-left: 1px solid $grey;
			width: 236px;
			@include at(tablet) {
				width: 228px;
			}

			&:first-child {
				margin-left: 16px;
			}
		}
		
		img {
			display: block;
			max-width: 100%;
		}
		p {
			font-weight: bold;
		}
	}
		.item__caption {
			padding: 0 8px;

			p {
				margin: 10px 0 8px;
			}
		}
			.item__footer {
				@extend .nav;
				
				color: $grey;
				font-size: 14px;
				line-height: 1.3;
				padding-bottom: 12px;
			}
				.item__timestamp {
					border-right: 1px solid $grey;
					margin-right: 6px;
					padding-left: 0;
					padding-right: 6px;
				}
				.item__region {
					color: $red;
					// padding-left: 6px;
				}
