// core.scss
//

$brand:      #CC0101;
$grey:       #767676;

// Utility
//

.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// STYLE 
//

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	color: #333;
	line-height: 1.5;
	position: relative;
	min-height: 100%;
}
	.canvas {
		background-image: url('../img/body-bg.png');
		background-attachment: fixed;
	}

a {
	text-decoration: none;
}
h1,
h2,
h3 {
	font-weight: normal;
}
h1 {
	letter-spacing: -1.5px;
}
h2 {
	font-size: 26px;
}
img {
	max-width: 100%;	
}

// Page
//

.page {
	background-color: #FFF;
	margin: 0 auto;
	padding: 64px 8px;
	max-width: 960px + 8;
}
	.page--feature {
		width: 240px + 8;
	}
	.page--smart-portrait {
		width: 320px + 8;
	}
	.page--tablet-portrait {
		padding-right: 16px;
		padding-left: 16px;
		width: 768px + 16;
	}
	.page--desktop {
		padding-right: 16px;
		padding-left: 16px;
		width: 1024px + 16;
	}

.config {
	@extend .clearfix;
	
	position: absolute;
		top: 0; right: 32px;
	z-index: 20;

	ul {
		@extend .nav;
		
		float: left;
		margin: 0;
	}
		li {
			
			&:first-child {
				
				a {
					border-left: 1px solid #CCC;
				}
			}
		}
		a {
			background-color: #F0F0F0;
			border-right: 1px solid #CCC;
			border-bottom: 1px solid #CCC;
			border-top: none;
			display: block;
			font-size: 21px;
			line-height: 1;
			padding: 6px 10px;
			
			&:hover {
				background-color: #FFF;
			}
		}
}
	.config--device {
		left: 32px;
		z-index: 10;
		
		a {
			font-size: 16px;
			
			&.active {
				background-color: #FFF;
			}
		}
	}

// More Regional News
.mrn {
	
	ul {
		@extend .nav;
		
		margin-bottom: 0;
	}
	.item {
		margin-top: 32px;
		
		&:first-child {
			margin-top: 0;
		}
	}
	img {
		display: block;
	}
	p {
		font-weight: bold;
	}
}
	.mrn__title {
		line-height: 1;
		margin: 0;
	}
	.item__caption {
		padding-top: 12px;

		p {
			margin-top: 0;
			margin-bottom: 8px;
			line-height: 1.1;
		}
	}
	.item__footer {
		@extend .nav;
		
		color: $grey;
		font-size: 14px;
		line-height: 1.2;
	}
		.item__timestamp {
			background: url('../img/timestamp-separator.gif') right center no-repeat;
			margin-right: 8px;
			padding-right: 8px;
		}
		.item__region {
			color: $brand;
		}

// Per-device
.page--smart-portrait {
	
	.mrn {
		
		.item {
			margin-top: 0;
			width: 50%;
			
			&:nth-child(odd) {
				padding-right: 4px;
			}
			&:nth-child(even) {
				padding-left: 4px;
			}
		}
		.item__caption {
			height: 132px;
		}
	}
}

.page--tablet-portrait {
	
	.mrn {
		
		> ul {
			margin-right: -8px;
			margin-left: -8px;
		}

		.item {
			margin-top: 0;
			padding-left: 8px;
			padding-right: 8px;
			width: 33.333%;
		}
		.item__caption {
			height: 108px;
		}
	}
}

.page--desktop {
	
	.mrn {
		
		> ul {
			margin-right: -8px;
			margin-left: -8px;
		}

		.item {
			margin-top: 0;
			padding-left: 8px;
			padding-right: 8px;
			width: 25%;
		}
		.item__caption {
			height: 116px;
		}
	}
}

// List format
.page--list {
	
	&.page--tablet-portrait {

		.mrn {
			
			> ul {
				margin-right: -8px;
				margin-left: -8px;
			}
			
			.item {
				@extend .clearfix;
				
				margin-top: 0;
				padding-left: 8px;
				padding-right: 8px;
				width: 50%;
			}

			img {
				float: left;
				width: 50%;
			}
			.item__caption {
				float: left;
				height: 124px;
				padding: 0 0 0 8px;
				width: 50%;
			}
		}
	}
}

// Components
//

.nav {
	@extend .clearfix;

	list-style: none;
	padding-left: 0;

	li {
		float: left;
	}
}
