// core.scss
//

// Utility
//

.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// STYLE 
//

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	color: #333;
	line-height: 1.5;
	position: relative;
	min-height: 100%;
}
	.canvas {
		background-image: url('../img/body-bg.png');
		background-attachment: fixed;
	}

a {
	text-decoration: none;
}
h1,
h2 {
	font-weight: normal;
}
h1 {
	letter-spacing: -1.5px;
}
h2 {
	font-size: 26px;
}

// Page
//

.page {
	background-color: #FFF;
	margin: 0 auto;
	padding: 128px 8px 0;
	max-width: 960px + 8;
}
	.page--feature {
		width: 240px + 8;
	}
	.page--smart-portrait {
		width: 320px + 8;
	}
	.page--tablet-portrait {
		padding-right: 16px;
		padding-left: 16px;
		width: 768px + 16;
	}
	.page--desktop {
		padding-right: 16px;
		padding-left: 16px;
		width: 1024px + 16;
	}

.config {
	@extend .clearfix;
	
	position: absolute;
		top: 0; right: 32px;

	ul {
		@extend .nav;
		
		float: left;
		margin: 0;
	}
		li {
			
			&:first-child {
				
				a {
					border-left: 1px solid #CCC;
				}
			}
		}
		a {
			background-color: #F0F0F0;
			border-right: 1px solid #CCC;
			border-bottom: 1px solid #CCC;
			border-top: none;
			display: block;
			font-size: 21px;
			line-height: 1;
			padding: 6px 10px;
			
			&:hover {
				background-color: #FFF;
			}
		}
}
	.config--device {
		left: 32px;
		
		a {
			font-size: 16px;
			
			&.active {
				background-color: #FFF;
			}
		}
	}

// More Regional News
.mrn {
	
	ul {
		@extend .nav;
	}
}
	.mrn__title {}

// Components
//

.nav {
	@extend .clearfix;

	list-style: none;
	padding-left: 0;

	li {
		float: left;
	}
}
