// main.scss
//

$tablet: 768px;

// Utility
//

.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin at($media) {
	@if $media == tablet {
		@media (min-width: $tablet) {
			@content
		}
	}
}

@mixin prefix($property, $value...) {
	-webkit-#{$property}: $value;
	   -moz-#{$property}: $value;
		-ms-#{$property}: $value;
		 -o-#{$property}: $value;
			#{$property}: $value;
}

// STYLE 
//

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html {}
body {
	color: #333;
	line-height: 1.5;
}
	.canvas {
		background-image: url('../img/body-bg.png');
		background-attachment: fixed;
	}

a {
	text-decoration: none;
}
h1,
h2 {
	font-weight: normal;
}
h1 {
	letter-spacing: -1.5px;
}
h2 {
	font-size: 26px;
}

// Page
//

.page {
	margin: 0 auto;
	padding: 0 8px;
	max-width: 960px + 8;

	@include at(tablet) {
		padding: 0 16px;
	}
}
	.page--home {
		padding-top: 24px;
	}
	.page--smartphone-portrait,
	.page--tablet-portrait {
		padding: 0;
	}
	.page--smartphone-portrait {
		width: 320px;
	}
	.page--tablet-portrait {
		width: 768px;
	}

.label {
	background-color: #EEE;
	color: #333;
	font-size: 11px;
	padding: 2px 4px;
	text-transform: uppercase;
	vertical-align: middle;
}

// Components
//

.flat {
	display: block;
}

@import 'carousel';

.nav {
	@extend .clearfix;

	list-style: none;
	padding-left: 0;

	li {
		float: left;
	}
}
